.calendars-container {
  display: flex;
  gap: 20px;

  .calendar {
    width: 48%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;

    .month-name {
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 10px;
    }

    .weekdays {
      display: flex;
      margin-bottom: 2%;
      .weekday-header {
        width: calc(100% / 7);
        text-align: center;
        padding: 5px;
        margin: 0px 0.5px;
        font-weight: bold;
        color: #555;
        background-color: rgb(189, 183, 107);
        color: white;
      }
    }

    .week {
      display: flex;
      .day,
      .empty-day {
        width: calc(100% / 7);
        height: 30px;
        text-align: center;
        border: 1px solid #eee;
        padding: 5px;
        box-sizing: border-box;
        cursor: pointer;
        background-color: white;

        &.weekend {
          color: #ccc;
        }

        &.selected {
          background-color: rgb(189, 183, 107, 0.3);
          border: 1px solid rgb(189, 183, 107);
        }

        &:hover {
          background-color: #eee;
        }

        &:focus {
          outline: 2px solid lightblue;
        }
      }
      .empty-day {
        border: none;
        background: none;
        cursor: default;
        color: #ddd;
        background-color: transparent;
      }
    }
  }
}

.date-picker {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px;
  width: fit-content;
  font-family: sans-serif;
  background-color: beige;
  zoom: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: white;

  .year-header, .month-header {
    width: 48%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(189, 183, 107);
  }

  button {
    padding: 10px;
    border: 1px solid #ccc !important;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: background-color 0.2s;
    border: none;
    font-size: 0.9rem;
    width: 2.5rem;

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
    }

    &:focus {
      outline: 2px solid lightblue;
    }
  }

  span {
    font-weight: bold;
  }
}

.predefined-ranges {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  justify-content: space-between;

  button {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgb(189, 183, 107);
    cursor: pointer;
    transition: background-color 0.2s;
    color: white;
    border-radius: 5px;

    &:hover {
      background-color: rgba(189, 183, 107, 0.8);
    }

    &.clear-selection {
      background-color: rgb(189, 183, 107);
      color: white;

      &:hover {
        background-color: rgba(189, 183, 107, 0.8);
      }
      &:focus {
        outline: 2px solid lightblue;
      }
    }
    &:focus {
      outline: 2px solid lightblue;
    }
  }
}
