.date-picker {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px;
  width: fit-content;
  font-family: sans-serif;
  background-color: beige;
  zoom: 1.1;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgb(189, 183, 107);
    color: white;
    padding: 4px 4px;

    button {
      padding: 10px;
      border: 1px solid #ccc !important;
      background-color: rgba(255, 255, 255, 1);
      cursor: pointer;
      transition: background-color 0.2s;
      border: none;
      font-size: 0.9rem;
      width: 2.5rem;

      &:hover {
        background-color: rgba(255, 255, 255, 0.8);
      }
    }

    span {
      font-weight: bold;
    }
  }

  .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    table-layout: fixed;

    .weekdays {
      display: contents;
      grid-template-columns: repeat(7, 1fr);
      font-size: small;
      margin-bottom: 5px;
      text-align: center;
      color: #555;
    }

    .weekday-header {
      padding: 10px;
      text-align: center;
      background-color: rgb(189, 183, 107);
      color: white;
    }

    .week {
      display: contents;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;

      .day,
      .empty-day,
      .weekday-header {
        padding: 10px;
        border: 1px solid #ccc;
        background-color: white;
        cursor: pointer;
        transition: background-color 0.2s;
        text-align: center;
        width: 100%;
        box-sizing: border-box;

        &:hover {
          background-color: #eee;
        }
      }

      .weekend {
        color: #ccc;
      }

      .selected {
        background-color: rgb(189, 183, 107, 0.3);
        border: 1px solid rgb(189, 183, 107);

        &:hover {
          background-color: rgb(189, 183, 107, 0.5);
        }
      }

      .empty-day {
        cursor: default;
        color: #ddd;
        border: none;
        background-color: transparent;
      }
    }
  }

  .predefined-ranges {
    display: flex;
    gap: 5px;
    margin-top: 10px;
    justify-content: space-between;

    button {
      padding: 10px;
      border: 1px solid #ccc;
      background-color: rgb(189, 183, 107);
      cursor: pointer;
      transition: background-color 0.2s;
      color: white;

      &:hover {
        background-color: rgba(189, 183, 107, 0.8);
      }

      &.clear-selection {
        padding: 10px;
        border: 1px solid #ccc;
        background-color: rgb(189, 183, 107);
        cursor: pointer;
        transition: background-color 0.2s;
        color: white;

        &:hover {
          background-color: rgba(189, 183, 107, 0.8);
        }
      }
    }
  }
}