body {
  background: #ddd;

  .app {
    display: flex;
    justify-content: center;
    min-height: 90vh;
    font-family: sans-serif;
    padding: 20px;

    .main-div {
      text-align: center;

      .selected-range {
        margin-top: 2%;
        font-size: large !important;

        span {
          font-weight: bolder;
        }
      }

      h1, .selected-range {
        background-color: rgb(189, 183, 107);
        font-size: x-large;
        padding: 10px 0px;
        color: white;
      }
    }
  }
}